/* <!-- 헤더 --> */
#main-header { 
    padding: 40px 50px; 
    position: fixed;
    z-index: 999;
    background-color: rgb(255,255,255);
    top:0;
    width:710px;
}
.master-title { 
    font-size: 30px; 
    color: #181818;
}
.master-description {
    font-size: 15px; font-weight: 500;
    color: #383838;
}