<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>적색, 녹색, 청색의 슬라이더를 움직이면 완성된 색을 표시하는 예제</h2>
    <div id="app">
        <p v-bind:style="{backgroundColor: mixColor}">{{ mixColor }}</p>
        <input type="range" v-model="R" min="0" max="255"><br>
        <input type="range" v-model="G" min="0" max="255"><br>
        <input type="range" v-model="B" min="0" max="255"><br>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                R: 255,
                G: 150,
                B: 100
            },
            computed: {
                mixColor: function() {
                    let ans = "RGB(" + this.R + ", " + this.G + ", " + this.B + ")";
                    return ans;
                }
            }
        });
    </script>
</body>
</html>