<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <input type="text" v-model="userData.email" placeholder="이메일을 입력하세요">
        <input type="password" v-model="userData.password" placeholder="비밀번호를 입력하세요">
        <!-- 아래 버튼을 클릭하면 아래 div 영역에 -->
        <!-- 이메일과 비밀번호 div 영역을 보이게 출력해주세요 -->
        <!-- v-on:click 대신 @으로 축약 가능 -->
        <button @click="btnOK">확인</button>
        <div v-show="dataShow">
            <br>
            입력된 이메일 : {{ userData.email }}
            입력된 비밀번호 : {{ userData.password }}
        </div>
    </div>
    
    <script>
        new Vue({
            el: "#app",
            data: {
                userData: {
                    email: "",
                    password: ""
                },
                dataShow: false
            },
            methods: {
                btnOK: function() {
                    this.dataShow = true
                }
            },
        });
    </script>
</body>
</html>