<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>선택한 라디오 버튼을 표시하는 예제</h2>
    <!-- 뷰 영역 -->
    <div id="app">
        <label>
            <input type="radio" value="red" v-model="picked">
            빨강
        </label>
        <br>
        <label>
            <input type="radio" value="green" v-model="picked">
            녹색
        </label>
        <br>
        <label>
            <input type="radio" value="blue" v-model="picked">
            파랑
        </label>
        <br>
        <p>{{ picked }} 이 선택됨</p>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                picked: "red"
            }
        });
    </script>
</body>
</html>